# System files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride

# Logs and temporary files
*.log
*.tmp
*.swp
*.bak
*.old
*.sublime-project
*.sublime-workspace

# Compiled code
*.class
*.dll
*.exe
*.o
*.so

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Node.js
node_modules/

# Java
*.jar
*.war
*.ear

# Archives
*.zip
*.tar.gz
*.rar
*.7z
*.gz

# Environment files
.env
.env.local
.env.*.local

# IDE and editor files
.idea/
.vscode/
*.iml

# Git directories
*.orig
*.lock

# Backup files
*.~*
*.swp
*.swo
*.tmp

# Build artifacts
dist/
build/

# Local test
test.ipynb
wandb/
pythia-160m-sft-HH/
pythia-160m-sft-SG/
pythia-1b-online-dpo-HH-merge-rewardmodel
pythia-1b-online-dpo-HH-merge-rewardmodel-duplicate
pythia-1b-online-dpo-HH-merge-rewardmodel-resume
pythia-1b-online-dpo-SG-merge-llama-judge
pythia-1b-online-dpo-SG-merge-llama-judge-resume
pythia-160m-online-dpo-SG
pythia-160m-online-dpo-SG-2
pythia-160m-online-dpo-SG-3
# special files
single_gpu.yaml